#map { height: 180px; }
.leaflet {
    height: 300px;
    width: 100%;
  }
  .map {
    background-color: #424242;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}