.card-left {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 550px;
  overflow: auto;
  padding: 5px 5px;
  height: calc(100vh - 100px);
}
.mainbodydisp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  padding: 5px 5px;
  width: calc(100vw - 500px);
  height: calc(100vh - 100px);
}
.contains {
  width: calc(100vw - 520px);
  height: calc(100vh - 150px);
}
.card-left::-webkit-scrollbar {
  display: none;
}
.mainbodydisp::-webkit-scrollbar {
  display: none;
}
.titlestyle {
  text-align: center;
}

.home-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100vw);
}
